.contact-container {
    padding: 20px;
  }
  
  .contact-heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #4263A5;
    text-align: center;
}
  
  .contact-content {
    display: flex;
    gap: 6rem;
    margin: 2rem 7rem;
  }
  
  .contact-details,
  .map-container {
    width: 45%;
  }
  
  .contact-details h2,
  .map-container h2 {
    margin-top: 0;
  }
  
  .contact-details p {
    margin: 5px 0;
  }
  
  .contact-form div {
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  padding: 8px;
  background-color: white; /* Set the background color to white */
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 4px;
  }
  
  .contact-form button {
    padding: 10px 20px;
  }
  
  .map-container {
    height: 400px;
  }
  