footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:
    linear-gradient(135deg, #4263a5 21px, #6190ec 22px, #d9ecff2d 24px, transparent 24px, transparent 67px, #d9ecff2d 67px, #d9ecff2d 69px, transparent 69px),
    linear-gradient(225deg, #4263a5 21px, #d9ecff2d 22px, #d9ecff2d 4px, transparent 24px, transparent 67px, #d9ecff2d 67px, #d9ecff2d 69px, transparent 9px)0 64px;
  background-color: #4263a5;
  background-size: 64px 128px;
  width: 100vw;
  padding: 0;
  left: 0;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: white;
}

