.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: rgba(0, 0, 0, 0.12);
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 85px;
}

/* Logo on the left */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 60px;
  width: 65px;
}

.logo-text {
  font-size: 14px;
  color: #fff;
}

/* Centering the nav links */
.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none; /* Remove list dots */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-links a.active {
  color: #000000;
}

.nav-links a:hover {
  color: #bbc0c9;
}

.dropdown {
  position: relative;
}

.dropdown-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
  font-size: 17px;
  font-weight: bold;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(90deg);
}

.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(0, 0, 0, 0.06);
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.9s ease;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

/* Right-aligned Schedule Button */
.schedule-button {
  background: #4263A5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.schedule-button:hover {
  background: #6190ec;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .dropdown-menu {
    position: static;
    background: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
