.services-head {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #4263A5;
  text-align: center;
}

.services-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100vw;
}

.service-it {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.service-im {
  height: 450px;
  width: 500px;
  object-fit: cover;
  margin-right: 2rem;
  margin-left: 5rem;
  border-radius: 5px;
}

.service-det {
  display: flex;
  flex-direction: column;
}

.service-ti {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.service-li {
  list-style-type: none;
  padding-left: 0;
}

.service-li li {
  margin-bottom: 10px;
  color: #666;
}


@media (max-width: 800px) {
  .services-head {
    font-size: 1.8rem; /* Reduced font size */
    margin: 1.5rem 0; /* Adjusted margin */
  }

  .services-contain {
    padding: 15px; /* Reduced padding */
  }

  .service-it {
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center align items */
    padding: 0; /* Remove padding */
    margin-bottom: 15px; /* Adjusted margin */
  }

  .service-im {
    height: 300px; /* Reduced height */
    width: 98%; /* Full width */
    margin-right: 0; /* Remove right margin */
    margin-left: 0; /* Remove left margin */
    border-radius: 5px;
  }

  .service-det {
    align-items: center; /* Center align text */
    text-align: left; /* Center align text */
  }

  .service-ti {
    margin-top: 1rem;
    font-size: 0.9rem; /* Reduced font size */
  }

  .service-li li {
    margin-bottom: 8px;
  }
}